<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>THREDDS Data Server</display-name>
  <!-- Provide the context path at init time (otherwise, not available till a request is made). -->
  <!-- LOOK remove this -->
  <context-param>
    <param-name>ContextPath</param-name>
    <param-value>thredds</param-value>
  </context-param>

  <description>THREDDS Data Server</description>

  <!--
     Spring listener to bootstrap Spring WebApplicationContext. Used to
     handle Spring bean configuration outside of SpringMVC configuration.
     Paths, by default, are relative to the application root.
  -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- ************************************************** -->

  <!-- filters are done in Spring config  -->
  <filter>
    <filter-name>springDelegatingFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>springDelegatingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

  <!-- spring servlet -->
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>/</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/errorpages/404.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/errorpages/500.jsp</location>
  </error-page>

  <!-- edal-wms servlet -->

  <servlet>
    <servlet-name>wms</servlet-name>
    <servlet-class>thredds.server.wms.ThreddsWmsServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>wms</servlet-name>
    <url-pattern>/wms/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>RequestQueryFilter</filter-name>
    <filter-class>thredds.servlet.filter.RequestQueryFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>RequestQueryFilter</filter-name>
    <servlet-name>wms</servlet-name>
  </filter-mapping>

  <!-- end edal-wms servlet -->

  <!-- ++++++++++ Setup security restrictions ++++++++++ -->
  <!-- Following does not appear to work, so commented out -->
  <!--
  /*Do not allow anything but GET and HEAD*/
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>not allowed</web-resource-name>
      <url-pattern>/</url-pattern>
      <http-method-omission>GET</http-method-omission>
      <http-method-omission>HEAD</http-method-omission>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  -->

  <!-- tdsConfig with HTTPS needed for /admin access  -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>sensitive read access</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>tdsConfig</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- tdsTrigger with HTTPS needed for /admin/trigger  -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>allow feature collection rescan to be triggered externally</web-resource-name>
      <url-pattern>/admin/collection/trigger</url-pattern>
      <url-pattern>/admin/trigger</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>tdsTrigger</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- This allows "remote monitoring":
    /thredds/admin/log gives access to logs.
   -->

  <!-- tdsMonitor with HTTPS needed for access to logs  -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>sensitive read access</web-resource-name>
      <url-pattern>/admin/log/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>tdsMonitor</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- default restricted access dataset for testing uses BASIC -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>restricted access datasets</web-resource-name>
      <url-pattern>/restrictedAccess/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>restrictedDatasetUser</role-name>
    </auth-constraint>
    <!-- Do not require 'https'
      <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint
    -->
  </security-constraint>

  <!-- Provide a constraint that is completely outside of any Spring security -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>tomcat only testing</web-resource-name>
      <url-pattern>/containerauth/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>containerauth</role-name>
    </auth-constraint>
    <!-- Do not require 'https' -->
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- General RDA Lockdown of OPeNDAP access -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>General RDA Lockdown of OPeNDAP access</web-resource-name>
      <!--url-pattern>/dodsC/g/*</url-pattern>
      <url-pattern>/fileServer/g/*</url-pattern>
      <url-pattern>/wcs/g/*</url-pattern>
      <url-pattern>/wms/g/*</url-pattern>
      <url-pattern>/ncss/grid/g/*</url-pattern>
      <url-pattern>/cdmremote/g/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/g/*</url-pattern>
      <url-pattern>/ncml/g/*</url-pattern-->
      <url-pattern>/dodsC/aggregations/g/*</url-pattern>
      <url-pattern>/fileServer/aggregations/g/*</url-pattern>
      <url-pattern>/wcs/aggregations/g/*</url-pattern>
      <url-pattern>/wms/aggregations/g/*</url-pattern>
      <url-pattern>/ncss/grid/aggregations/g/*</url-pattern>
      <url-pattern>/cdmremote/aggregations/g/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/aggregations/g/*</url-pattern>
      <url-pattern>/ncml/aggregations/g/*</url-pattern>
      <url-pattern>/dodsC/files/g/*</url-pattern>
      <url-pattern>/fileServer/files/g/*</url-pattern>
      <url-pattern>/wcs/files/g/*</url-pattern>
      <url-pattern>/wms/files/g/*</url-pattern>
      <url-pattern>/ncss/grid/files/g/*</url-pattern>
      <url-pattern>/cdmremote/files/g/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/files/g/*</url-pattern>
      <url-pattern>/ncml/files/g/*</url-pattern>
      <!--
           If we want to expose catalog AND G2, need to also expose WMS.
           Otherwise need to have all open, or all closed for G2 to work
      -->
      <!--
      <url-pattern>/wms/*</url-pattern>
      <url-pattern>/godiva2/*</url-pattern>
      <url-pattern>/*</url-pattern>
      -->
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>odap</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- RDA Lockdown of OPeNDAP to ecmwf operational dataset access -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>RDA Lockdown of OPeNDAP access to ecmwf reanalyses</web-resource-name>
      <!--url-pattern>/dodsC/e/*</url-pattern>
      <url-pattern>/fileServer/e/*</url-pattern>
      <url-pattern>/wcs/e/*</url-pattern>
      <url-pattern>/wms/e/*</url-pattern>
      <url-pattern>/ncss/grid/e/*</url-pattern>
      <url-pattern>/cdmremote/e/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/e/*</url-pattern>
      <url-pattern>/ncml/e/*</url-pattern-->
      <url-pattern>/dodsC/aggregations/e/*</url-pattern>
      <url-pattern>/fileServer/aggregations/e/*</url-pattern>
      <url-pattern>/wcs/aggregations/e/*</url-pattern>
      <url-pattern>/wms/aggregations/e/*</url-pattern>
      <url-pattern>/ncss/grid/aggregations/e/*</url-pattern>
      <url-pattern>/cdmremote/aggregations/e/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/aggregations/e/*</url-pattern>
      <url-pattern>/ncml/aggregations/e/*</url-pattern>
      <url-pattern>/dodsC/files/e/*</url-pattern>
      <url-pattern>/fileServer/files/e/*</url-pattern>
      <url-pattern>/wcs/files/e/*</url-pattern>
      <url-pattern>/wms/files/e/*</url-pattern>
      <url-pattern>/ncss/grid/files/e/*</url-pattern>
      <url-pattern>/cdmremote/files/e/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/files/e/*</url-pattern>
      <url-pattern>/ncml/files/e/*</url-pattern>
      <!--
           If we want to expose catalog AND G2, need to also expose WMS.
           Otherwise need to have all open, or all closed for G2 to work
      -->
      <!--
      <url-pattern>/wms/*</url-pattern>
      <url-pattern>/godiva2/*</url-pattern>
      <url-pattern>/*</url-pattern>
      -->
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>e</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- RDA Lockdown of OPeNDAP to ecmwf operational dataset access -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>RDA Lockdown of OPeNDAP access to ecoper</web-resource-name>
      <!--url-pattern>/dodsC/ecoper/*</url-pattern>
      <url-pattern>/fileServer/ecoper/*</url-pattern>
      <url-pattern>/wcs/ecoper/*</url-pattern>
      <url-pattern>/wms/ecoper/*</url-pattern>
      <url-pattern>/ncss/grid/ecoper/*</url-pattern>
      <url-pattern>/cdmremote/ecoper/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/ecoper/*</url-pattern>
      <url-pattern>/ncml/ecoper/*</url-pattern-->
      <url-pattern>/dodsC/aggregations/ecoper/*</url-pattern>
      <url-pattern>/fileServer/aggregations/ecoper/*</url-pattern>
      <url-pattern>/wcs/aggregations/ecoper/*</url-pattern>
      <url-pattern>/wms/aggregations/ecoper/*</url-pattern>
      <url-pattern>/ncss/grid/aggregations/ecoper/*</url-pattern>
      <url-pattern>/cdmremote/aggregations/ecoper/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/aggregations/ecoper/*</url-pattern>
      <url-pattern>/ncml/aggregations/ecoper/*</url-pattern>
      <url-pattern>/dodsC/files/ecoper/*</url-pattern>
      <url-pattern>/fileServer/files/ecoper/*</url-pattern>
      <url-pattern>/wcs/files/ecoper/*</url-pattern>
      <url-pattern>/wms/files/ecoper/*</url-pattern>
      <url-pattern>/ncss/grid/files/ecoper/*</url-pattern>
      <url-pattern>/cdmremote/files/ecoper/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/files/ecoper/*</url-pattern>
      <url-pattern>/ncml/files/ecoper/*</url-pattern>
      <!--
           If we want to expose catalog AND G2, need to also expose WMS.
           Otherwise need to have all open, or all closed for G2 to work
      -->
      <!--
      <url-pattern>/wms/*</url-pattern>
      <url-pattern>/godiva2/*</url-pattern>
      <url-pattern>/*</url-pattern>
      -->
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ecoper</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- RDA Lockdown of OPeNDAP to jra 25 dataset access -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>RDA Lockdown of OPeNDAP access to jra 25</web-resource-name>
      <!--url-pattern>/dodsC/jra25/*</url-pattern>
      <url-pattern>/fileServer/jra25/*</url-pattern>
      <url-pattern>/wcs/jra25/*</url-pattern>
      <url-pattern>/wms/jra25/*</url-pattern>
      <url-pattern>/ncss/grid/jra25/*</url-pattern>
      <url-pattern>/cdmremote/jra25/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/jra25/*</url-pattern>
      <url-pattern>/ncml/jra25/*</url-pattern-->
      <url-pattern>/dodsC/aggregations/jra25/*</url-pattern>
      <url-pattern>/fileServer/aggregations/jra25/*</url-pattern>
      <url-pattern>/wcs/aggregations/jra25/*</url-pattern>
      <url-pattern>/wms/aggregations/jra25/*</url-pattern>
      <url-pattern>/ncss/grid/aggregations/jra25/*</url-pattern>
      <url-pattern>/cdmremote/aggregations/jra25/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/aggregations/jra25/*</url-pattern>
      <url-pattern>/ncml/aggregations/jra25/*</url-pattern>
      <url-pattern>/dodsC/files/jra25/*</url-pattern>
      <url-pattern>/fileServer/files/jra25/*</url-pattern>
      <url-pattern>/wcs/files/jra25/*</url-pattern>
      <url-pattern>/wms/files/jra25/*</url-pattern>
      <url-pattern>/ncss/grid/files/jra25/*</url-pattern>
      <url-pattern>/cdmremote/files/jra25/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/files/jra25/*</url-pattern>
      <url-pattern>/ncml/files/jra25/*</url-pattern>
      <!--
           If we want to expose catalog AND G2, need to also expose WMS.
           Otherwise need to have all open, or all closed for G2 to work
      -->
      <!--
      <url-pattern>/wms/*</url-pattern>
      <url-pattern>/godiva2/*</url-pattern>
      <url-pattern>/*</url-pattern>
      -->
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>jra25</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- RDA Lockdown of OPeNDAP to jra 55 dataset access -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>RDA Lockdown of OPeNDAP access to jra 55</web-resource-name>
      <!--url-pattern>/dodsC/JRA55/*</url-pattern>
      <url-pattern>/fileServer/JRA55/*</url-pattern>
      <url-pattern>/wcs/JRA55/*</url-pattern>
      <url-pattern>/wms/JRA55/*</url-pattern>
      <url-pattern>/ncss/grid/JRA55/*</url-pattern>
      <url-pattern>/cdmremote/JRA55/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/JRA55/*</url-pattern>
      <url-pattern>/ncml/JRA55/*</url-pattern-->
      <url-pattern>/dodsC/aggregations/JRA55/*</url-pattern>
      <url-pattern>/fileServer/aggregations/JRA55/*</url-pattern>
      <url-pattern>/wcs/aggregations/JRA55/*</url-pattern>
      <url-pattern>/wms/aggregations/JRA55/*</url-pattern>
      <url-pattern>/ncss/grid/aggregations/JRA55/*</url-pattern>
      <url-pattern>/cdmremote/aggregations/JRA55/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/aggregations/JRA55/*</url-pattern>
      <url-pattern>/ncml/aggregations/JRA55/*</url-pattern>
      <url-pattern>/dodsC/files/JRA55/*</url-pattern>
      <url-pattern>/fileServer/files/JRA55/*</url-pattern>
      <url-pattern>/wcs/files/JRA55/*</url-pattern>
      <url-pattern>/wms/files/JRA55/*</url-pattern>
      <url-pattern>/ncss/grid/files/JRA55/*</url-pattern>
      <url-pattern>/cdmremote/files/JRA55/*</url-pattern>
      <url-pattern>/cdmrfeature/grid/files/JRA55/*</url-pattern>
      <url-pattern>/ncml/files/JRA55/*</url-pattern>
      <!--
           If we want to expose catalog AND G2, need to also expose WMS.
           Otherwise need to have all open, or all closed for G2 to work
      -->
      <!--
      <url-pattern>/wms/*</url-pattern>
      <url-pattern>/godiva2/*</url-pattern>
      <url-pattern>/*</url-pattern>
      -->
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>JRA55</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- can only have one login-config for entire context. -->
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>THREDDS Data Server</realm-name>
  </login-config>

  <!-- Define security roles. -->
  <security-role>
    <description>The configuration role allows users to configure the THREDDS server.</description>
    <role-name>tdsConfig</role-name>
  </security-role>

  <security-role>
    <description>User who can download tds logs for monitoring purposes.</description>
    <role-name>tdsMonitor</role-name>
  </security-role>

  <security-role>
    <description>User is allowed to trigger featureCollection rereads</description>
    <role-name>tdsTrigger</role-name>
  </security-role>

  <security-role>
    <description>User who can access restricted datasets.</description>
    <role-name>restrictedDatasetUser</role-name>
  </security-role>

  <security-role>
    <description>User who can access tomcat container protected datasets.</description>
    <role-name>containerauth</role-name>
  </security-role>

  <security-role>
    <description>General RDA Users Authentication Role</description>
    <role-name>odap</role-name>
  </security-role>

  <security-role>
    <description>ERA-I and ERA-40 RDA Users Authentication Role</description>
    <role-name>e</role-name>
  </security-role>

  <security-role>
    <description>ECMWF operational RDA Users Authentication Role</description>
    <role-name>ecoper</role-name>
  </security-role>

  <security-role>
    <description>JRA-55 RDA Users Authentication Role</description>
    <role-name>JRA55</role-name>
  </security-role>

  <security-role>
    <description>JRA-25 RDA Users Authentication Role</description>
    <role-name>jra25</role-name>
  </security-role>

  <!-- deny-uncovered-http-methods/ -->

</web-app>
